
body
			{
				padding: 1%;
				box-sizing: border-box;
			}
			@import('https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.0/css/bootstrap.min.css') .funkyradio div {
    clear: both;
    /*margin: 0 50px;*/
    overflow: hidden;
}

div.more{
	padding: 0 18px;
	background-color: white;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
}
div.accordion.pull-right:after
{
	content: '\02795';
	/*
	Unicode character for minus sign (-)
	*/
	font-size: 13px;
	color: #777;
	
}
div.accordion.pull-right.active:after
{
	content: "\2796";
	/*
	Unicode character for plus sign (+)
	*/
}
.funkyradio label {
    /*min-width: 400px;*/
    width: 100%;
    border-radius: 3px;
    border: 1px solid #D1D3D4;
    font-weight: normal;
}
.funkyradio input[type="radio"]:empty, .funkyradio input[type="checkbox"]:empty {
    display: none;
}
.funkyradio input[type="radio"]:empty ~ label, .funkyradio input[type="checkbox"]:empty ~ label {
    position: relative;
    line-height: 2.5em;
    text-indent: 3.25em;
    margin-top: 2em;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.funkyradio input[type="radio"]:empty ~ label:before, .funkyradio input[type="checkbox"]:empty ~ label:before {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
	  left: 0;
    content:'';
    width: 2.5em;
    background: #D1D3D4;
    border-radius: 3px 0 0 3px;
}
.funkyradio input[type="radio"]:hover:not(:checked) ~ label:before, .funkyradio input[type="checkbox"]:hover:not(:checked) ~ label:before {
    content:'\2714';
    text-indent: .9em;
    color: #C2C2C2;
}
.funkyradio input[type="radio"]:hover:not(:checked) ~ label, .funkyradio input[type="checkbox"]:hover:not(:checked) ~ label {
    color: #888;
}
.funkyradio input[type="radio"]:checked ~ label:before, .funkyradio input[type="checkbox"]:checked ~ label:before {
    content:'\2714';
    text-indent: .9em;
    color: #333;
    background-color: #ccc;
}
.funkyradio input[type="radio"]:checked ~ label, .funkyradio input[type="checkbox"]:checked ~ label {
    color: #777;
}
.funkyradio input[type="radio"]:focus ~ label:before, .funkyradio input[type="checkbox"]:focus ~ label:before {
    box-shadow: 0 0 0 3px #999;
}
.funkyradio-default input[type="radio"]:checked ~ label:before, .funkyradio-default input[type="checkbox"]:checked ~ label:before {
    color: #333;
    background-color: #ccc;
}
.funkyradio-primary input[type="radio"]:checked ~ label:before, .funkyradio-primary input[type="checkbox"]:checked ~ label:before {
    color: #fff;
    background-color: #337ab7;
}
.funkyradio-success input[type="radio"]:checked ~ label:before, .funkyradio-success input[type="checkbox"]:checked ~ label:before {
    color: #fff;
    background-color: #5cb85c;
}
.funkyradio-danger input[type="radio"]:checked ~ label:before, .funkyradio-danger input[type="checkbox"]:checked ~ label:before {
    color: #fff;
    background-color: #d9534f;
}
.funkyradio-warning input[type="radio"]:checked ~ label:before, .funkyradio-warning input[type="checkbox"]:checked ~ label:before {
    color: #fff;
    background-color: #f0ad4e;
}
.funkyradio-info input[type="radio"]:checked ~ label:before, .funkyradio-info input[type="checkbox"]:checked ~ label:before {
    color: #fff;
    background-color: #5bc0de;
}
			.columns
			{
				float:left;
				width: 33.3%;
				padding: 8px;
			}
            .panel-heading :hover
            {
                background-color:  #A62447;
            }
			.price
			{
				list-style: none;
				border: 1px solid #eee;
				margin: 0;
				padding: 0;
				-webkit-transition:0.3s;
				transition: 0.3s;
			}
			.head :hover
			{
				box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2);
			}
			.price .head{
				background-color: #111;
				color: white;
				font-size: 25px;
				color:;
			}
			.price li
			{
				border-bottom: 1px solid #eee;
				padding: 20px;
				text-align: center;
				color: #ffffff;
			}
			.price .grey{
				background-color: #eee;
				font-size: 20px;
				color:#0099e6;
 		 
			}
			@media only screen and (max-width:600px)
			{
				.columns
				{
					width: 100%;
				}
			}
			.active {
    background-color: #4CAF50;
}
            .img1
{
    background-image: url("images/Publication2.jpg");

}
            .img2
{
    background-image: url("images/Publication2.jpg");
    
}
.register{
	margin-top: 1%;
	width: 100%;
	height: 25%;
	border: none;
	background-color: #084B8A;
	color:#ffffff;
	font-size: 22px;
	cursor: pointer;
    padding: 1%;
	text-align: center;
	padding-top: 10%;
	webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.rec
{
	display: none;
	
}
.already{
	margin-top: 1%;
	width: 100%;
	height: 25%;
	border: none;
	background-color: #003300;
	color:#ffffff;
	font-size: 22px;
	cursor: pointer;
    padding: 1%;
	text-align: center;
	padding-top: 10%;
	webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	
}
.bt
{
	border: none;
	color: white;
	padding: 14px 28px;
	font-size: 16px;
	cursor:pointer;
}
.info
{
	background-color: #2196F3;/*blue*/
	font-family: Helvetica;
}
.info:hover
{
	background: #0b7dda;
}
/* MODAL LOGIN FORM*/
/* Full-width input fields */
.contain input[type=text],input[type=password],input[type=email]
{
	width: 100%;
	height: auto;
	padding: 12px 20px;
	
	display: inline-block;
	border: 1px solid #CCC;
	box-sizing: border-box;
}
.contain button
{
	background-color: #4CAF50;
	color: white;
	padding: 14px 20px;
	margin:8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
	
	
}
.contain input.cancelbtn1,.signupbtn
{
	background-color: #4CAF50;
	color: white;
	padding: 14px 20px;
	margin:8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
	
}
.contain button:hover
{
	opacity: 0.8;
}
 .contain button.cancelbtn
{
	width: auto;
	padding: 10px 18px;
	background-color: #f44336;
}
.imgcontainer
{
	text-align: center;
	margin: 24px 0 12px 0;
	position: relative;
}
img.avatar
{
	width: 15%;
	border-radius: 50%;
	height: 15%;
	
}
.contain
{
	color:#00ff00;
	padding: 16px;
}
span.psw
{
	float:right;
	padding-top: 16px;
}
/*The Modal (background)*/
.mod
{
	display: none;/*Hidden by default*/
	position:fixed;/*Stay in place*/
	z-index: 1; /*Sit on top*/
	left: 0;
	top:0;
	width: 100%;/*full width*/
	
	overflow: hidden; /*Enable scroll if needed*/
    background-color: rgba(0,0,0);/*Fallback color*/
	background-color: rgba(0,0,0,0.4);/*Black w/ opacity */
	
	
}
/*Modal Content/Box*/
.mod-content
{
	background-color: #fefefe;
	margin:5% auto 15% auto;/*5% from the top,15% from the bottom and centred*/
	border: 1px solid #888;
	width: 80%; /* Could be more or less,depending on screen size */
	
}
/* The Close Button (X) */
span.close
{
	position: absolute;
	right: 25px;
	top:0;

	font-size: 70px;
	font-weight: bold;
}
.close:hover,
.close:focus
{
	color: red;
	cursor:pointer;
}
/* Add Zoom Animation */
.animate
{
	-webkit-animation: animatezoom 0.6s;
	animation: animatezoom 0.6s;
}
@-webkit-keyframes animatezoom
{
	from{transform: scale(0)}
	to{transform: scale(1)}
}
@keyframes animatezoom
{
	from{transform: scale(0)}
	to {transform: scale(1)}
}
/*Change styles for span and cancel button on extra small screens*/
@media screen and (max-width:300px)
{
	span.psw
	{
		display: block;
		float: none;
	}
	.cancelbtn
	{
		width: 100%;
	}
}
/* END MODAL LOGIN FORM */
/*SignUp Modal*/
/* Set a style for all buttons */

 .contain input.cancelbtn1
{
	padding: 14px 20px;
	background-color: #f44336;
}
/*Float cancel and signup buttons and add an equal width*/
 .contain input.cancelbtn1,.signupbtn{
	float:left;
	width:50%;
}
/* The  Sign Up Modal background*/
.mod1
{
	display: none;/*Hidden background*/
	position:fixed;
	z-index:1 ;/*stay on top */
	left:0;
	top: 0;
	width:100%;
	height: 100%;
	
	background-color: rgb(0,0,0); /* Fallback color*/
	 background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	padding: 60px;
	overflow: scroll;
	
}
/*Modal Content/Box*/
.mod1-content
{
	background-color: #fefefe;
	margin: 5% auto 15% auto;/* 5% from the top,15% from the bottom and centred */
	border:1px solid #888;
	padding: 16px;
	width: 80%;/*Could be more or less,depend on  screen  size*/
}
/*The close Button (X)*/
span .close1
{
	position: absolute;
	
	margin-top:40%;
	color: #000;
	font-size: 40px;
	font-weight: bold;
	
}
span .close1 .pull-right:hover,
span .close1 .pull-right:focus
{
	color:red;
	cursor: pointer;
}
.clearfix::after
{
	content: "";
	clear: both;
	display: table;
}
/* Add Zoom Animation */
.animate1
{
	-webkit-animation: animatezoom 0.6s;
	animation: animatezoom 0.6s;
}
@-webkit-keyframes animatezoom
{
	from{transform: scale(0)}
	to{transform: scale(1)}
}
@keyframes animatezoom
{
	from{transform: scale(0)}
	to {transform: scale(1)}
}
/*Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width:300px)
{
	input.cancelbtn1,input.signupbtn
	{
		width:100%;
		
	}
}
/*End Signup Modal*/
.success
{
	background-color: #4CAF50;
}
.success:hover
{
	background-color: #46A049;
}
.warning{
	background-color: #FF9800;
}
.warning:hover
{
	background: #e68a00;
}
.can{
	margin-top: 1%;
	width: 100%;
	height: 25%;
	border: none;
	background-color: #66FF33;
	color:#ffffff;
	font-size: 22px;
	cursor: pointer;
	padding: 1%;
	text-align: center;
	padding-top: 10%;
	webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	

	
}
 .row.col-md-4.register.already.can strong :hover
{
	font-size: 40px;
}
 .header {
	position: fixed;
	width: 100%;
	background: #222;
	z-index: 10;
}
.header .navbar-brand {
	font-weight: 900;
}
.header .navbar {
	margin: 0;
	border: none;
}

@media (min-width: 768px) {
	.header .navbar-brand {
		padding-left: 0;
	}
	.navbar-nav {
		float: right;
	}
}
@media (max-width: 480px) {
	.page-section h1 {
		font-size: 3em;
	}
	.page-section h2 {
		font-size: 2em;
	}
	.page-section p {
		font-size: 1em;
		margin: 0 0 20px;
	}
}
.danger {
    background-color: #ffdddd;
    border-left: 6px solid #f44336;
	border-right: 6px solid #f44336;
	width: 100%;
	height: 10%;
	padding-left: 10%;
}
#camps
{
	background-color: #808080;
}
.camp
{
	
    background-color:#00ff00;
    border-left: 6px solid 	#f90606;
	border-right: 6px solid #f90606;
	width: 100%;
	height: 10%;
	padding-left: 10%;

}
.cont
{
	
    background-color:#ff00ff;
    border-left: 6px solid 	#f90606;
	border-right: 6px solid #f90606;
	width: 100%;
	height: 10%;
	padding-left: 10%;

}
.camp p
{
	padding: 1%;
	color: #ffffff;
	font-family: fantasy;
}
.panel-heading {
    color:#ff0000;
	font-family: cursive;
	font-size:x-large;
    
}
ul.topnav
{
	float: right;
	list-style: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color:#333;
}
ul.topnav li
{
	float: left;
	border-right: 1px solid #bbb;
}
ul.topnav li:last-child
{
	border-right: none;
}
ul.topnav li a
{
	display: inline-block;
	color: #f2f2f2;
	text-align:center;
	padding: 14px 16px;
	text-decoration: none;
	transition: 0.3s;
	font-size: 17px;
}
/* change background color of links on hover*/
ul.topnav li a:hover
{
	
	background-color: #555;
}
/*hide the list item that contains the link that should open and close the topnav on small screens*/
ul.topnav li.icon
{
	display: none;
}
/* When the screen is less than 680 pixels wide, hide all list items, except for the first one ("Home"). Show the list item
that contains the link to open and close the topnav (li.icon) */
@media screen and (max-width:680px)
{
	ul.topnav li:not(:first-child)
	{
		display: none;
	}
	ul.topnav li.icon
	{
		float: right;
		display: inline-block;
	}
	
/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon.
This class makes the topnav look good on small screens */
	
}
@media screen and (max-width:680px)
{
	ul.topnav.responsive
	{
		position:relative;
	}
	ul.topnav.responsive li.icon
	{
		position: absolute;
		right:0;
		top:0;
	}
	ul.topnav.responsive li
	{
		float: none;
		display:inline;
	}
	ul.topnav.responsive li a
	{
		display: block;
		text-align: left;
	}
}

#social {
    width: 100%;
    background-color: #eee;
    background-image: url('../img/bg1.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 50% 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

.social-bg-overlay {
    background-color: rgba(0,0,0,0.6);
    padding-top: 100px;
    padding-bottom: 80px;
}

.walam-social ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
    text-align: center;
}

.walam-social li {
    display: inline-block;
    margin-right: 15px;
}

.walam-social li:last-child {
    margin-right: 0;
}

.walam-social li a {
    width: 75px;
    height: 75px;
    display: inline-block;
    line-height: 80px;
    text-align: center;
    border-radius: 50%;
    background-color: #ffffff;
    color: #58B325;
    font-size: 36px;
}

.walam-social li a:hover {
    background-color: #398110;
    color: #fff;
}

.walam-social li a,
	.walam-social li a:hover {
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
}

@media(max-width:700px) {
    .walam-social li a {
        width: 45px;
        height: 45px;
        display: inline-block;
        line-height: 50px;
        text-align: center;
        border-radius: 50%;
        background-color: #ffffff;
        color: #58B325;
        font-size: 24px;
    }

    .walam-social li {
        display: inline-block;
        margin-right: 8px;
    }
}
#wrapper
{
	width: auto;
	padding: 0px;
	margin: 0px auto;
	font-family: helvetica;
	
}
#loading{
display:none;

}
#wrapper .baricon
{
	display: inline-block;
	border-radius: 100%;
	padding: 12px;
	background-color: #38610B;
	color: white;
}
#wrapper .progress_bar
{
	width: 200px;
	height: 5px;
	border-radius: 20px;
	background-color: #D8D8D8;
	display: inline-block;
	
}
#user_details,#qualification,#dore
{
	display: none;
}
